<?xml version="1.0" encoding="UTF-8"?>
<included>
    <property name="LOG_PATTERN"
              value="ts=%d{yyyy-MM-dd HH:mm:ss.SSS} level=%-5level traceId=%X{traceId:-} thread=%thread logger=%logger{36} msg=%msg%n%ex" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</included>

